body {
    font-family: monospace;
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    margin: 0;
}

.wrapper {
    width: 600px;
    height: 350px;
    background-color: #808080;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    top: 27%;
}

span {
    font-size: 70px;
    font-weight: bold;
}

input {
    font-size: 30px;
    border-radius: 5px;
    width: 180px;
}

#rez,
#kreda {
    font-size: 30px;
}

b {
    color: #8b0000;
}

img {
    width: 90px;
}

#newGame {
    display: none;
}